*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lettering-blanco: #F0EBD8;
}

body{
    background-color: #0D1321;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url("fonts/Satoshi-Black.woff2"), type("woff2");
    src: url("fonts/Satoshi-Black.woff"), type("woff");
    src: url("fonts/Satoshi-Black.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url("fonts/Satoshi-Regular.woff2"), type("woff2");
    src: url("fonts/Satoshi-Regular.woff"), type("woff");
    src: url("fonts/Satoshi-Regular.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url("fonts/Satoshi-Light.woff2"), type("woff2");
    src: url("fonts/Satoshi-Light.woff"), type("woff");
    src: url("fonts/Satoshi-Light.ttf"), type("truetype");
}

h1{
    font-family: 'Satoshi-Black';
}

h3{
    font-family: 'Satoshi-Regular';
}

p{
    font-family: 'Satoshi-Light';
}

.main{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.carrusel_main{
    position: absolute;
    width: 150%;
    height: 220%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    transform: rotate(30deg);
    top: -55%;
    left: -10%;
}

.lista{
    position: relative;
    width: 15%;
    height: 175%;
    background-color: transparent;
    border-right: 2px solid rgba(0, 0, 0, .5);
    border-left: 2px solid rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    transform: translateY(-35%);
    left: -.5%;
}

.peli{
    position: relative;
    background-image: var(--img);
    background-size: cover;
    width: 95%;
    height: 20%;
    margin-top: 5px;
}

@keyframes scroll-arriba{
    from{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(50%);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes scroll-abajo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(100%);
    }
}

.tipo1{
    animation: scroll-abajo 40s linear infinite;
}

.tipo2{
    animation: scroll-arriba 40s linear infinite;
}


.ventana_main{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 30px;
    border: 10px solid black;
    font-family: 'Satoshi-Light';
    color: var(--lettering-blanco);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 1s;

    background: rgba(19, 28, 40, 0.8);
    box-shadow: 0 8px 52px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 7px );
}



.expand{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    transition: 1s;
}

.name{
    position: relative;
    top: 70%;
    left: 5%;
    font-size: larger;
    overflow: hidden;
}

#titulo{
    font-size: 80px;
}

.logo{
    font-size: small;
    position: relative;
    left: 40%;
    top: -5%;
    animation: logo-aparecer 2s linear;
}

@keyframes logo-aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#icono-bajar{
    position: relative;
    left: 92%;
    font-size: xx-large;
}

.top{
    width: 10px;
    height: 10px;
    position: relative;
    top: 0%;
}

.test{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: white;
    top: 0%;
}

@keyframes zoom-ventana {
    from{
        transform: width(100%);
    }
    to{
        transform: scale(100dvw);
    }
}